.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}


.header img{
    width: 350px;
}


.header ul{
    display: flex;
    width: 100%;
    justify-content: right;
    align-items: center;
    padding-right: 15px;
}


.header li{
    list-style: none;
    font-size: 28px;
    margin: 0px 15px;
    font-family: cursive; 
}


a {
    text-decoration: none;
    color: black;
}

.contenedor {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.noticias {
    width: 100%;
    margin: 7px;
    padding: 15px;
}

.noticias h1{
    font-size: 21px;
    color: blueviolet;
    text-align: justify;
}

.noticias p{
    font-size: 18px;
    text-align: justify;
}

button {
    background-color: black;
    color: red;
    padding: 5px;
    width: 100px;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    background-color: chocolate;
    height: 100px;
}

footer a{
    color: cadetblue;
}

.btn-primary:focus,
.btn-primary:hover {
    box-shadow: none;
    border: solid 1px red;
    background-color: rgb(156, 87, 3);
}
